<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studybud !</title>
    <style>
        body {
            background-color: #b716f726; /* Light Blue (Clair) */
        }
    </style>
</head>
<body>
    
    {% include 'base/navig.html' %}

    {% if messages %}
       <ul class="messages">
           {% for message in messages %}
           <li></li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}

    {% endblock %}
</body>
</html>
