
/* Styles for .featured .container ul.featured-list .txt */
.featured  ul .txt {
    margin-left: 10px;
}

/* Styles for .featured .container ul.featured-list .txt p */
.featured  ul .txt p {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 3px;
}
.featured ul :hover {
    background-color:white;
    
    
}


/* Styles for .featured .container ul.featured-list .txt span */
.featured  ul .txt span {
    color: #242020;
    font-size: 14px;
}

/* Media query for smaller screens */
@media (max-width:991px) {
    .featured  ul {
        display: none;
    }
}
